@model EcoleApp.ViewModels.Admin.ChangeRoleViewModel

<h2>Attribuer / Modifier un rôle</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

<form asp-action="ChangeRole" method="post">
    <div class="form-group">
        <label>Utilisateur</label>
        <select asp-for="UtilisateurId"
                asp-items="ViewBag.Utilisateurs"
                class="form-control">
        </select>
        <span asp-validation-for="UtilisateurId" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label>Nouveau rôle</label>
        <select asp-for="NouveauRoleId"
                asp-items="ViewBag.Roles"
                class="form-control">
        </select>
        <span asp-validation-for="NouveauRoleId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-warning mt-4">
        Mettre à jour le rôle
    </button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
