@{
    ViewData["Title"] = "Importer étudiants";
}

<h2>Importer étudiants</h2>

<a asp-action="Dashboard" class="btn btn-link mb-3">? Retour</a>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

@if (TempData["Errors"] != null)
{
    <div class="alert alert-danger">@TempData["Errors"]</div>
}

<form asp-action="Import" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label>Fichier Excel (.xlsx) contenant : Matricule, NomComplet, Email, Filiere, Niveau, Groupe</label>
        <input type="file" name="file" class="form-control" accept=".xlsx" />
    </div>

    <button class="btn btn-primary">Importer</button>
</form>
