@{
    ViewData["Title"] = "Paramètres système";
}

<h2 class="fw-bold mb-4">@ViewData["Title"]</h2>

<div class="card shadow-sm">
    <div class="card-body">

        <form asp-action="Settings" method="post">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label class="form-label">Nom de l'établissement</label>
                <input name="Etablissement" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Période académique</label>
                <input name="Periode" class="form-control" />
            </div>

            <button class="btn btn-primary">
                Enregistrer
            </button>
        </form>

    </div>
</div>
