@model EcoleApp.ViewModels.Account.LoginViewModel

<h2>Connexion</h2>

<form asp-action="Login" method="post">
    <div class="form-group">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label>Mot de passe</label>
        <input asp-for="MotDePasse" class="form-control" />
        <span asp-validation-for="MotDePasse" class="text-danger"></span>
    </div>

    <button class="btn btn-primary mt-4">
        Se connecter
    </button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
