@{
    ViewData["Title"] = "Accueil";
}

<h2 class="fw-bold mb-4 text-center">
    Système de Gestion Universitaire
</h2>

<div class="row text-center">

    <div class="col-md-4 mb-4">
        <div class="card shadow-sm h-100">
            <div class="card-body">
                <h5 class="fw-bold">Administration</h5>
                <p>
                    Gestion des utilisateurs, rôles, paramètres
                    et journalisation.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card shadow-sm h-100">
            <div class="card-body">
                <h5 class="fw-bold">Responsables</h5>
                <p>
                    Supervision académique et suivi des activités.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card shadow-sm h-100">
            <div class="card-body">
                <h5 class="fw-bold">Délégués</h5>
                <p>
                    Présences, communications et rapports.
                </p>
            </div>
        </div>
    </div>

</div>
