@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">EYENGA NTSAMA EST BEAU ET MIGNON</h1>
    <p>Il faut bien commencer le projet de C# quelque part.</p>
</div>
<div>
    <h2 class="display-4">Bonjour C# Bonjour ASP.NET </h2>
    
</div>
